@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    background-image: url("/HeadCounter/station.jpg");
    background-size: cover;
    height: 100vh;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    border: solid rgb(133, 133, 133) 2px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#increment-btn {
    background: darkblue;
}

#save-btn {
    background: darkgreen;
}

#save-el {
    margin-bottom: 40px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}