@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-family: Roboto, sans-serif;
}

button {

    padding: 10px;
    margin: 5px;
    width: 150px;
    background-color: blue;
    color: white;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}